.logo-container {
    width: 100%;
    text-align: center;
}

.star-wars-logo {
    width: 300px;
    margin: 30px 0px 10px 0px;
}

.title-star {
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}